{% extends 'base.html.twig' %}

{% block body %}
    <section class="service service_page pt_100 xs_pt_70 pb_100 xs_pb_70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="single_service">
                        <div class="service_img">
                            <span class="tf_service_icon"><i class="fas fa-eye"></i></span>
                            <img src="images/service-1.jpg" alt="service img" class="img-fluid w-100">
                        </div>
                        <div class="service_text">
                            <a href="{{ path('app_service_show', {service: 'Online Monitoring', image: 'service-1'}) }}" class="service_heading">Online Monitoring</a>
                            <p>Lorem ipsum dolor sit amet consectetur ipsam adipisicing elit. Rem quia officia
                                quaerat
                                ipsam
                                hic sunt quaerat!</p>
                            <a href="{{ path('app_service_show', {service: 'Online Monitoring', image: 'service-1'}) }}" class="service_link">
                                read more <i class="far fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="single_service">
                        <div class="service_img">
                            <span class="tf_service_icon tf_service_icon2"><i class="fas fa-heartbeat"></i></span>
                            <img src="images/service-2.jpg" alt="service img" class="img-fluid w-100">
                        </div>
                        <div class="service_text">
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-2'}) }}" class="service_heading">Holter Heart surgery</a>
                            <p>Lorem ipsum dolor sit amet consectetur ipsam adipisicing elit. Rem quia officia
                                quaerat
                                ipsam
                                hic sunt quaerat!</p>
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-2'}) }}" class="service_link">
                                read more <i class="far fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="single_service">
                        <div class="service_img">
                            <span class="tf_service_icon tf_service_icon3"><i class="fad fa-capsules"></i></span>
                            <img src="images/service-3.jpg" alt="service img" class="img-fluid w-100">
                        </div>
                        <div class="service_text">
                            <a href="{{ path('app_service_show', {service: 'Diagnose & Research', image: 'service-3'}) }}" class="service_heading">Diagnose & Research</a>
                            <p>Lorem ipsum dolor sit amet consectetur ipsam adipisicing elit. Rem quia officia
                                quaerat
                                ipsam
                                hic sunt quaerat!</p>
                            <a href="{{ path('app_service_show', {service: 'Diagnose & Research', image: 'service-3'}) }}" class="service_link">
                                read more <i class="far fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="single_service">
                        <div class="service_img">
                            <span class="tf_service_icon tf_service_icon4"><i class="fas fa-heartbeat"></i></span>
                            <img src="images/service-2.jpg" alt="service img" class="img-fluid w-100">
                        </div>
                        <div class="service_text">
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-2'}) }}" class="service_heading">Holter Heart surgery</a>
                            <p>Lorem ipsum dolor sit amet consectetur ipsam adipisicing elit. Rem quia officia
                                quaerat
                                ipsam
                                hic sunt quaerat!</p>
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-2'}) }}" class="service_link">
                                read more <i class="far fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="single_service">
                        <div class="service_img">
                            <span class="tf_service_icon"><i class="fas fa-eye"></i></span>
                            <img src="images/service-5.jpg" alt="service img" class="img-fluid w-100">
                        </div>
                        <div class="service_text">
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-5'}) }}" class="service_heading">Online Monitoring</a>
                            <p>Lorem ipsum dolor sit amet consectetur ipsam adipisicing elit. Rem quia officia
                                quaerat
                                ipsam
                                hic sunt quaerat!</p>
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-5'}) }}" class="service_link">
                                read more <i class="far fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="single_service">
                        <div class="service_img">
                            <span class="tf_service_icon tf_service_icon2"><i class="fas fa-heartbeat"></i></span>
                            <img src="images/service-6.jpg" alt="service img" class="img-fluid w-100">
                        </div>
                        <div class="service_text">
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-6'}) }}" class="service_heading">Holter Heart surgery</a>
                            <p>Lorem ipsum dolor sit amet consectetur ipsam adipisicing elit. Rem quia officia
                                quaerat
                                ipsam
                                hic sunt quaerat!</p>
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-6'}) }}" class="service_link">
                                read more <i class="far fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="single_service">
                        <div class="service_img">
                            <span class="tf_service_icon tf_service_icon3"><i class="fad fa-capsules"></i></span>
                            <img src="images/service-7.jpg" alt="service img" class="img-fluid w-100">
                        </div>
                        <div class="service_text">
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-7'}) }}" class="service_heading">Diagnose & Research</a>
                            <p>Lorem ipsum dolor sit amet consectetur ipsam adipisicing elit. Rem quia officia
                                quaerat
                                ipsam
                                hic sunt quaerat!</p>
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-7'}) }}" class="service_link">
                                read more <i class="far fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="single_service">
                        <div class="service_img">
                            <span class="tf_service_icon tf_service_icon4"><i class="fas fa-heartbeat"></i></span>
                            <img src="images/service-8.jpg" alt="service img" class="img-fluid w-100">
                        </div>
                        <div class="service_text">
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-8'}) }}" class="service_heading">Holter Heart surgery</a>
                            <p>Lorem ipsum dolor sit amet consectetur ipsam adipisicing elit. Rem quia officia
                                quaerat
                                ipsam
                                hic sunt quaerat!</p>
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-8'}) }}" class="service_link">
                                read more <i class="far fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s">
                    <div class="single_service">
                        <div class="service_img">
                            <span class="tf_service_icon"><i class="fas fa-eye"></i></span>
                            <img src="images/service-1.jpg" alt="service img" class="img-fluid w-100">
                        </div>
                        <div class="service_text">
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-1'}) }}" class="service_heading">Online Monitoring</a>
                            <p>Lorem ipsum dolor sit amet consectetur ipsam adipisicing elit. Rem quia officia
                                quaerat
                                ipsam
                                hic sunt quaerat!</p>
                            <a href="{{ path('app_service_show', {service: 'Holter Heart surgery', image: 'service-1'}) }}" class="service_link">
                                read more <i class="far fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
